In [1]:
# built in data types in python 
# tuple ()
#list  []
#sets  {}
#dictionary {}

In [6]:
# tuple 
fruits  = ("mango","apple","lemon",1) #
print(type(fruits))

<class 'tuple'>

In [7]:
#list 
fruits = ["mango","papaya"]
print(type(fruits))

<class 'list'>

In [10]:
#set
A = {1,2,3,1,1,"apple"}
print(A)

{1, 2, 3, 'apple'}

In [11]:
#dictionary
dict1 = {1:"one",2:"two"} # {'key':'values'}
print(type(dict1))

<class 'dict'>

In [12]:
#list funftionalities or methods 

# Accessing list items []
#change values
#Adding items append()
#Remove pop(),remove()

In [13]:
A = ["ram","sita","hari","shyam"]
print(A)

['ram', 'sita', 'hari', 'shyam']

In [14]:
print(A[1:3])

['sita', 'hari']

In [20]:
print(A[-1]) # gives last postion item

shyam

In [21]:
print(len(A))

4

In [24]:
A[0]="kushal"
A[-1] ="smarika"
print(A)

['kushal', 'sita', 'hari', 'smarika']

In [25]:
A.append("sandesh")

In [26]:
print(A)

['kushal', 'sita', 'hari', 'smarika', 'sandesh']

In [31]:
A.insert(1,"cat")
print(A)

['kushal', 'cat', 'dog', 'dog', 'dog', 'sita', 'hari', 'smarika', 'sandesh']

In [36]:
A.remove("kushal")
print(A)

['cat', 'sita', 'hari', 'smarika', 'sandesh']

In [39]:
#pop()
A.pop(-1)

'sandesh'

In [40]:
A[0]="rat"
print(A)

['rat', 'hari', 'smarika']

In [47]:
#tuple 
B = ("apple","ball","cat","dog")
print(len(B))

4

In [11]:
C =("cat",) # or you can use C=("cat",) -> use comma after
print(type(C))

<class 'tuple'>

# 1) continue of list,tuple,dictionary,set 

    #set
    -- accessing set item print('x' in this set)
    -- adding set item set.add('x')
    -- removing set item set.remove('X')
    -- removing by discard set.discard('x')
    #dictionary
     -- creating dictionary
     -- accessing item dict.get('key')
     -- keys and values -> dict.keys() , dict.values()
     -- updating items dict.update({"key": "value"})
     -- adding item dict['key']='value'
     -- deleting item -> del dict ['key']
     -- deleting dict -> del dict

In [15]:
A  = {"apple","ball","cat","dog","egg"}
A.add("Fox")

In [27]:
person = {"name":"kushal","age":21,"fav_food":"Momo"} # {key:values}
print(person)

{'name': 'kushal', 'age': 21, 'fav_food': 'Momo'}

In [29]:
person.keys()
person.values()

dict_values(['kushal', 21, 'Momo'])

In [31]:
person.update({"age":22})
print(person)

{'name': 'kushal', 'age': 22, 'fav_food': 'Momo'}

In [42]:
age=22
name ="kushal"

#person name is kushal and his age is 22

In [45]:
print(f"person name is {name} and his age is {age}")

person name is kushal and his age is 22

In [ ]:
# if else in python

In [51]:
a=2
if a>0 :
    print("a is positive")
else:
    print("a is negative")

a is positive

In [53]:
num = int(input("Enter any number"))
if (num % 2)==0:
    print(f"{num} is even")
else:
    print(f"{num} is odd ")

Enter any number5
5 is odd

In [58]:
# 0 , positive , negative 
num1 = int(input("Enter any number:"))
if num1<0:
    print(f"{num1} is negative")
elif num1==0:
    print("Zero")
else:
    print(f"{num1} is positive number ")

Enter any number:8
8 is positive number

In [62]:
list = ["ram","hari","sita","gita","rita"] # as i i[0],i[1]
for i in list:   # ->
    print(i,end=" ")

ram hari sita gita rita

In [63]:
# 1 2 3 ........ 10
for i in range(10):
    print(i , end=" ")

0 1 2 3 4 5 6 7 8 9

In [69]:
for i in range (10,20,2): # (starting,end,gap)
    print(i,end = " ")

10 12 14 16 18

In [80]:
for i in range (10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [83]:
for i in range (0,30,2):
        print(i, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28

In [89]:
for i in range(10):
    for j in range(0,i):
        if j%2 ==0:
            print("*")
        else:
            print("#" ,end =" ")

*
*
# *
# *
*
# *
# *
# *
# *
*
# *
# *
# *
# *
# *
# *
*
# *
# *
# *
# *
# *
# *
# *
# *

In [92]:
# while loop 
i = 0
while i<10:
    i+=1
           # i= i+1 , i=i*2-> i*=2
    print(i)

1
2
3
4
5
6
7
8
9
10

In [94]:
i = 0
while i < 10:
    i=i+1
    if i==3:
        continue
    print(i,end=" ")

1 2 4 5 6 7 8 9 10

In [95]:
i = 0
while i<5:
    print(i)
    i+=1
else:
    print("i is no longer 5")

0
1
2
3
4
i is no longer 5